.hero-section {
  min-height: 90vh;
  display: flex;
  align-items: center;
  padding: 80px 8%;
  background: linear-gradient(135deg, rgb(1, 1, 44), rgb(107, 112, 170));
  transition: all 0.3s ease;
}
.hero-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
}

.hero-image {
  flex-shrink: 0;
}
.hero-image img {
  width: 320px;
  height: 320px;
  object-fit: cover;
  border-radius: 50%;
  border: 6px solid #ffffff;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
}

.hero-content {
  max-width: 650px;
}

.hero-content h1 {
  font-size: 3rem;
  color: #ffffff;
  margin-bottom: 15px;
  line-height: 1.2;
}

.hero-content h2 {
  font-size: 2rem;
  color: #ffffff;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 1.1rem;
  color: #e5e7eb;
  line-height: 1.8;
  margin-bottom: 30px;
}

.highlight {
  color: #ca430d;
  font-weight: 700;
}

.hero-buttons {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.btn {
  text-decoration: none;
  padding: 12px 24px;
  border-radius: 8px;
  font-weight: 600;
  transition: 0.3s;
}

.btn-primary {
  background: #f18f01;
  color: #ffffff;
}

.btn-primary:hover {
  background: #ffffff;
  color: #1b4f72;
}

.btn-secondary {
  background: transparent;
  color: #ffffff;
  border: 2px solid #ffffff;
}

.btn-secondary:hover {
  background: #ffffff;
  color: #1b4f72;
}

/* Animation */

.hero-content h1,
.hero-content h2,
.hero-content p,
.hero-buttons {
  animation: fadeInUp 0.8s ease forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(25px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* DARK MODE */

body[data-theme="dark"] .hero-section {
  background: linear-gradient(135deg, #161f1f, #38a59c);
}

body[data-theme="dark"] .hero-content h1,
body[data-theme="dark"] .hero-content h2 {
  color: #ffffff;
}

body[data-theme="dark"] .hero-content p {
  color: #d1d5db;
}

body[data-theme="dark"] .highlight {
  color: #f18f01;
}

body[data-theme="dark"] .hero-image img {
  border-color: #f18f01;
}

body[data-theme="dark"] .btn-primary {
  background: #f18f01;
  color: #ffffff;
}
body[data-theme="dark"] .btn-primary:hover {
  background: #ffffff;
  color: #111827;
}

body[data-theme="dark"] .btn-secondary {
  background: #f18f01;
  color: #ffffff;
}

body[data-theme="dark"] .btn-secondary:hover {
  background: #ffffff;
  color: #111827;
}

/* MOBILE */

@media (max-width: 768px) {
  .hero-section {
    padding: 60px 5%;
  }

  .hero-container {
    flex-direction: column;
    text-align: center;
    gap: 40px;
  }

  .hero-image img {
    width: 220px;
    height: 220px;
  }

  .hero-content h1 {
    font-size: 2rem;
  }

  .hero-content h2 {
    font-size: 1.5rem;
  }

  .hero-buttons {
    justify-content: center;
  }
}